<h1><%= gettext "Welcome to %{name}!", name: "LyricScreen" %></h1>

<h2>Manage</h2>
<ul>
	<li>
		<a href="/display/controls/default">Default Control Panel</a>
	</li>
	<li>
		<a href="/display/default">Default Display (WIP)</a>
	</li>
</ul>

<h2>Admin</h2>
<ul>
	<li>
		<a href="/admin/live-dashboard">Live Dashboard</a>
	</li>
</ul>
