<style>
#basic-lyrics {
	font-size: min(10vh, 5vw);
	background: #000;
	white-space: pre-wrap;
}
</style>

<div class="flex cover flex-center text-center" id="basic-lyrics"><%= @current_slide_contents %></div>
