@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: none !important;
}

:root {
	--bg: #111;
	--fg: #fff;
	--lc: #c4f;
	--lcp: #80d;
	--info: #0af;
	--success: #4f8;
	--lc-20: #d8f;
	--cerrp: #a20;
	--f: Lato;
	--mf: Iosevka, monospace;
}

body, html {
	background: var(--bg);
	color: var(--fg);
	font-family: var(--f);
	font-size: 16px;
	transition: opacity 0.2s ease;
}

code, pre {
	font-family: var(--mf);
}

a {
	color: var(--lc);
}

a.button {
	color: inherit;
	text-decoration: none;
}

h1 {
	margin: 0.25rem;
}

input, button, button, textarea {
	transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
	background: rgba(255,255,255,0.1);
	border: none;
	font: inherit;
	font-size: inherit;
	color: inherit;
	border-radius: 2px;
	margin: 0 0.25rem;
	padding: 0.5em;
}

.button, button, input[type=submit] {
	cursor: pointer;
}

.button.primary,
input[type=submit].primary,
button.primary {
	background: var(--lcp);
}

.success {
	color: var(--success);
}

.button.error,
input[type=submit].error,
button.error {
	background: var(--cerrp);
}

.button:disabled,
input[type=submit]:disabled,
button:disabled {
	color: #888;
	background-color: #333;
	cursor: not-allowed;
}

.button > i.material-icons,
button > i.material-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body.phx-disconnected {
}

.show-when-disconnected {
	display: none !important;
}

body.phx-disconnected .show-when-disconnected {
	display: inherit !important;
}

.cover {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
}

.cover .cover-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	margin: 0;
}

.button.i,
button.i {
	background: transparent;
	padding-top: 0.36em;
	padding-bottom: 0.36em;
}

.flex-push-bottom {
	margin-top: auto;
}

.flex-push-right {
	margin-left: auto;
}

.flex-col {
	flex-direction: column;
}
.flex-center {
	justify-content: center;
	align-items: center;
}
.flex-1 { flex: 1; }
.flex-wrap { flex-wrap: wrap; }
.flex { display: flex; }

.text-center {
	text-align: center;
}

.alert.info {
	background-color: #125;
	border: solid 1px #36c;
	border-radius: 2px;
	margin: 0.5em;
}

.with-overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	min-width: 300px;
	max-width: 100vw;
	background: var(--bg);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.modal header {
	background-color: rgba(255, 255, 255, 0.05);
}

.modal header .title {
	display: flex;
	padding: 0.5em;
}

.modal .input,
.modal input,
.modal textarea,
.modal button {
	margin: 0;
}

.modal form {
	padding: 1em;
	flex-direction: column;
}

.modal form input + textarea {
	margin-top: 1em;
}

.modal footer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	margin-top: 1em;
}

.modal footer .button,
.modal footer input[type=submit],
.modal footer button {
	margin-left: 0.25em;
}

.tabs {
	display: flex;
}

.tabs .button.tab,
.tabs button.tab,
.tabs .tab {
	flex: 1;
	margin: 0;
	border-radius: 0;
	background: transparent;
	border-bottom: solid 3px transparent;
	transition: border-color 0.2s ease, background-color 0.2s ease;
}

.tabs .button.tab:hover,
.tabs button.tab:hover,
.tabs .tab:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

.tabs .button.tab.active,
.tabs button.tab.active,
.tabs .tab.active {
	border-bottom-color: var(--lc);
}

.st {
	text-decoration: line-through;
}

#control-panel {
	height: 100vh;
	overflow-y: hidden;
}

#disconnected-notification {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 300%;
}
#disconnected-notification .material-icons {
	opacity: 0.25;
	font-size: 300%;
}

#sidebar {
	z-index: 20;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	width: 320px;
	max-width: 75vw;
	height: 100vh;
	overflow: hidden;
	box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.015);
}

#sidebar > p {
	padding: 0.5em;
}

#sidebar > header {
	padding: 0.5em;
	background: rgba(255, 255, 255, 0.05);
}

.input-overlay {
	opacity: 0.25;
	margin: 0;
	padding: 0.4em 0.6em;
	position: absolute;
	right: 0;
	transition: opacity 0.2s ease;
	z-index: 10;
}

.input-overlay:hover {
	opacity: 1;
}

#songlist li a {
	cursor: pointer;
	color: inherit;
	border-right: solid 0.25em transparent;
	flex: 1;
	padding: 0.5em;
	transition: background-color 0.2s ease, border-color 0.2s ease;
}
#songlist li.frozen-active a {
	border-right: solid 0.25em var(--info);
}
#songlist li.active a {
	border-right: solid 0.25em var(--lc);
}
#songlist li a:hover {
	background-color: rgba(255, 255, 255, 0.05);
}
#songlist li.active.frozen-active a {
	border-right: solid 0.25em var(--success);
}

#songlist li .button,
#songlist li button {
}

#songlist li {
	position: relative;
}

#songlist li .actions {
	z-index: 10;
	position: absolute;
	right: 0.5em;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#slides .slide .actions .button,
#slides .slide .actions button,
#songlist .actions button {
	margin: 0;
	padding: 0;
	opacity: 0.25;
	transition: opacity 0.2s ease;
}

#slides .slide .actions .button:hover,
#slides .slide .actions button:hover,
#songlist .actions button:hover {
	opacity: 1;
}

.draggable-ghost {
	opacity: 0.5;
}

#sidebar > .actions {
	padding-bottom: 0.25em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#slides .slide .actions {
	z-index: 10;
	position: absolute;
	right: 0em;
	top: 0em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#show-sidebar-button {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 0.8em;
	z-index: 5;
}

#slides-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
	height: 100vh;
}

#slides-container > .actions {
	padding: 0.25em 0;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.025);
}

#slides {
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 1em;
	padding-bottom: 9em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	flex: 1;
}

#slides .slide {
	width: 320px;
	height: 180px;
	overflow: hidden;
	position: relative;
	padding: 0.25em;
	background: #000;
	border-radius: 5px;
	border: solid 2px rgba(0, 0, 0, 0.0);
	margin: 0.25em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: border-color 0.2s ease, border-style 0.2s ease;
}

#slides .slide .slide-content {
	white-space: pre-wrap;
}

#slides .slide:hover {
	border-color: #888;
}

#slides .slide.frozen-active {
	border-color: var(--info);
}

#slides .slide.active {
	border-color: var(--lc);
}

#slides .slide.active:hover {
	border-color: var(--lc-20);
}

#slides .slide.active.frozen-active {
	border-color: var(--success);
}

#slides-container.hidden #slides .slide {
	border-style: dashed;
}

#slides .slide .slide-title {
	opacity: 0.4;
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	font-family: var(--mf);
	font-size: 16px;
	font-weight: 700;
}

#slides .slide .actions {
	padding-right: 0.5em;
}

#slides .slide .actions .button,
#slides .slide .actions button {
	opacity: 0.25;
	transition: opacity 0.2s ease
}

#slides .slide .actions .button:hover,
#slides .slide .actions button:hover {
	opacity: 1;
}

@media (min-width: 800px) {
	@keyframes actions-slide-left {
		0% {
			right: 0;
			opacity: 0;
		}

		100% {
			right: 0.5em;
			opacity: 1;
		}
	}

	#slides .slide .actions {
		display: none !important;
	}

	#slides .slide:hover .actions {
		display: inherit !important;
	}

	.hoverable .show-on-hover {
		display: none !important;
	}

	.hoverable:hover .show-on-hover {
		display: inherit !important;
	}

	#songlist li .actions {
		animation-play-state: running;
		animation-fill-mode: backwards;
		right: -1000em;
	}
	#songlist li:hover .actions {
		animation: actions-slide-left 0.5s ease;
		animation-fill-mode: forwards;
	}

	#slides-container .actions {
		padding: 0.25em 0;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
		justify-content: flex-start;
		align-items: center;
	}
}
