@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg: #111;
	--fg: #fff;
	--lc: #c4f;
	--f: Lato;
	--mf: Iosevka;
}

body {
	background: var(--bg);
	color: var(--fg);
	font-family: var(--f);
}

code, pre {
	font-family: var(--mf);
}

a {
	color: var(--lc);
}
